<footer id="footer">
  <h1 class="footer-logo">BestPriceLikes</h1>
  <div class="footer-routes">
    <div class="footer-col">
      <ul>
        <li class="footer-route-header">PRODUCTOS</li>
        <li class="footer-route">Ofertas</li>
        <li class="footer-route">Twitter</li>
        <li class="footer-route">Instagram</li>
        <li class="footer-route">Testimonios</li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li class="footer-route-header">PÁGINAS</li>
        <li class="footer-route">Ofertas</li>
        <li class="footer-route">Blog</li>
        <li class="footer-route">Crear cuenta</li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li class="footer-route-header">RECURSOS</li>
        <li class="footer-route">Contacto</li>
        <li class="footer-route">Condiciones de servicio</li>
        <li class="footer-route">Políticas de privacidad</li>
      </ul>
    </div>
  </div>
</footer>
