<div class="card login-box">
  <h1>Mi cuenta</h1>
  <form>
    <div class="form-group">
      <label for="name"><i class="fas fa-user"></i></label>
      <input type="text" class="form-control" id="user" placeholder="Usuario" required />
    </div>

    <div class="form-group">
      <label for="password"><i class="fas fa-key"></i></label>
      <input type="password" class="form-control" id="password" placeholder="Contraseña" required />
    </div>

    <button type="submit" class="btn btn-success">Entrar</button>
  </form>
</div>
