<div class="slideContainer">
  <!-- Slide ONE 1  -->
  <div class="slide promo">
    <div class="primary-text" [@showPrimaryText]="state">
      <h3>Impulsa tu cuenta de Instagram</h3>
      <p>Likes de calidad y al mejor precio</p>
      <i class="fas fa-heart like-heart"></i>
    </div>
    <div class="mobilePhoneIcon" [@mobileSpinAnimation]='state'></div>
  </div>

  <!-- Slide TWO 2 -->
  <div class="slide main-offer">
    <!-- Offer boxes -->
    <div class="card text-center main-offers">
      <div class="card-body">
        <h5 class="card-title"><i class="fab fa-instagram"></i></h5>
        <p class="card-text">Likes</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">100 likes</li>
        <li class="list-group-item">Instantáneo</li>
        <li class="list-group-item">0,10€</li>
      </ul>
      <div class="card-body call-to-action-offer">
        <a class="card-link">Seleccionar</a>
      </div>
    </div>
    <div class="card text-center main-offers">
      <div class="card-body">
        <h5 class="card-title"><i class="fab fa-instagram"></i></h5>
        <p class="card-text">Followers</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">100 followers</li>
        <li class="list-group-item">Instantáneo</li>
        <li class="list-group-item">0,50€</li>
      </ul>
      <div class="card-body call-to-action-offer">
        <a class="card-link">Seleccionar</a>
      </div>
    </div>
  </div>

  <!-- Slide THREE 3 -->
  <div class="slide">
    <button class="full-width-button call-to-action-offer primary-text">Ver más ofertas de Instagram</button>
  </div>

  <!-- Slide FOUR 4 -->
  <div class="slide promo">
    <div class="primary-text" [@showPrimaryText]="state">
      <h3>Potencia tu cuenta de Twitter</h3>
      <p>Followers y likes a precio inbatible</p>
      <i class="far fa-star"></i>
    </div>
    <div class="followersIcon" [@mobileSpinAnimation]='state'></div>
  </div>

  <!-- Slide FIVE 5 -->
  <div class="slide main-offer">
    <!-- Offer boxes -->
    <div class="card text-center main-offers">
      <div class="card-body">
        <h5 class="card-title"><i class="fab fa-twitter"></i></h5>
        <p class="card-text">Likes</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">100 likes</li>
        <li class="list-group-item">Instantáneo</li>
        <li class="list-group-item">0,10€</li>
      </ul>
      <div class="card-body call-to-action-offer">
        <a class="card-link">Seleccionar</a>
      </div>
    </div>
    <div class="card text-center main-offers">
      <div class="card-body">
        <h5 class="card-title"><i class="fab fa-twitter"></i></h5>
        <p class="card-text">Followers</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">100 followers</li>
        <li class="list-group-item">Instantáneo</li>
        <li class="list-group-item">0,50€</li>
      </ul>
      <div class="card-body call-to-action-offer">
        <a class="card-link">Seleccionar</a>
      </div>
    </div>
  </div>

  <!-- Slide SIX 6 -->
  <div class="slide">
    <button class="full-width-button call-to-action-offer primary-text">Ver más ofertas de Twitter</button>
  </div>

  <!-- Slide SEVEN 7 -->
  <div class="slide service-feature-slide">
    <div class="card service-feature">
      <i class="fas fa-fighter-jet card-img-top"></i>
      <div class="card-body">
        Entrega rápida
      </div>
      <p class="card-text">Resultados inmediatos.</p>
    </div>

    <div class="card service-feature">
      <i class="fas fa-user card-img-top"></i>
      <div class="card-body">
        Personas reales
      </div>
      <p class="card-text">Te sorprenderá la interacción.</p>
    </div>

    <div class="card service-feature">
      <i class="fas fa-piggy-bank card-img-top"></i>
      <div class="card-body">
        Mejor precio del mercado
      </div>
      <p class="card-text">Calidad al mejor precio.</p>
    </div>
  </div>


   <!-- Slide EIGHT 8 -->
   <div class="slide">
    <button class="full-width-button call-to-action-offer primary-text">Ver testimonios</button>
    <div>
      <p>Testimonio temporal</p>
      <p>Testimonio temporal</p>
      <p>Testimonio temporal</p>
      <p>Testimonio temporal</p>
      <p>Testimonio temporal</p>
    </div>
  </div>

  <!-- <div class="slide instagram">
    <h2>Followers</h2>
    <table class="table">
      <thead>
        <tr>
          <th>100 followers</th>
          <th>500 followers</th>
          <th>1.000 followers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Instantáneo</td>
          <td>Instantáneo</td>
          <td>Instantáneo</td>
        </tr>
        <tr>
          <td>Con garantía</td>
          <td>Con garantía</td>
          <td>Con garantía</td>
        </tr>
      </tbody>
    </table>

  </div> -->

</div>
